<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav nav-pills">
                <li><a href="/letters" class="nav-link px-2 text-white">Home</a></li>
                <li><a href="/letters/new" class="nav-link px-2 text-white">New Aswer</a></li>
          </ul>
        </div>
    </div>
</header>
