<%= render partial:'header'%>

<div class="container py-4">
  <div class="p-5 mb-4 bg-light rounded-3">
     <table class="table table-bordered border-primary">
        <tbody>
              <%@matriz.each do |matriz | %> 
                    <tr>
                  <%matriz.each do | letra | %>
                      <td>
                        <%=letra %>
                      </td>
                  <% end %>
                    </tr>
              <% end %>
          </tbody>
      </table>
  </div>
  <div class=" p-4 ps-md-0">
    <h5 class="mt-0">Completa las frases con las palabras encontradas en la sopa de letras.</h5>
    <p>
    <%@letters.each do |letter| %>
        <%=letter.question%> <br>
    <% end %>
    </p>
  </div>
</div>